extends layout

block content
  h1= title
  a(href='/bio') My Bio
  p Welcome to #{title}
  p #{name} resides at #{address} and is from #{city}, #{country}
  p #{name} is wearing a luxurious #{favColor} silk gown and is #{favHobby}
